In [2]:
import os

import pandas as pd

In [3]:
if os.getcwd().endswith("tests"):
    os.chdir("../")

In [6]:
data = pd.read_csv(
    "data/tickers/ADA/ADAUSD_PERP-bookTicker-2024-04-01.csv",
    usecols=[
        "best_bid_price",
        "best_bid_qty",
        "best_ask_price",
        "best_ask_qty",
    ]
)

data.head()

   best_bid_price  best_bid_qty  best_ask_price  best_ask_qty
0          0.6509         534.0           0.651         658.0
1          0.6509         534.0           0.651         648.0
2          0.6509        1244.0           0.651         648.0
3          0.6509        1245.0           0.651         648.0
4          0.6509        1243.0           0.651         648.0

In [7]:
data = data.assign(mid_price=(data.best_bid_price + data.best_ask_price) / 2).head()
data.head()

   best_bid_price  best_bid_qty  best_ask_price  best_ask_qty  mid_price
0          0.6509         534.0           0.651         658.0    0.65095
1          0.6509         534.0           0.651         648.0    0.65095
2          0.6509        1244.0           0.651         648.0    0.65095
3          0.6509        1245.0           0.651         648.0    0.65095
4          0.6509        1243.0           0.651         648.0    0.65095